version: '3.8'

services:
  db:
    image: postgres:latest
    environment:
      - POSTGRES_DB=alx_caching_db
      - POSTGRES_USER=alx_user
      - POSTGRES_PASSWORD=alx_password
    ports:
      - "5432:5432"

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
